:root {
    --primary-color-b: hsl(0, 0%, 96%);
    --primary-color-e: white;
    --sec-color: black;
}
.dark-mode {
    --primary-color-b: hsl(207, 26%, 17%);
    --primary-color-e: hsl(209, 23%, 22%);
    --sec-color: white;
}

nav {
    padding: 20px 100px;
    display: grid;
    grid-template-columns: 7fr 1fr;
    background-color: var(--primary-color-e);
    color: var(--sec-color);
}

nav p {
    font-size: 30px;
    font-weight: 700;
}

.mode {
    font-weight: 600;
}

.main {
    background-color: var(--primary-color-b);
    padding: 30px;
    height: 100%;
}

#head {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#input-div {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    
    /* background-color: white; */
}

.glyph {
    align-items: center;
    padding: 6px;
    background-color: var(--primary-color-e);
    box-shadow: -1px 0px 5px rgb(0 0 0 / 0.2);
}

.glyph:hover {
    cursor: pointer;
}

/* svg {
    background-color: white;
} */

::-webkit-input-placeholder {
    color: red;
}


#input-box {
    display: inline-block;
    align-items: center;
    width: 30%;
}

input[type="text"], textarea {

    background-color : var(--primary-color-e);
    color: var(--sec-color) !important;
  
}

select {
    padding: 10px 30px;
    border-radius: 5px;
    margin: 16px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.2);
    background-color: var(--primary-color-e);
    color: var(--sec-color);
}

select::-ms-expand {
    border-radius: 5px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
}

.card {
    margin: 50px;
    background-color: var(--primary-color-e);
    color: var(--sec-color);
}

button {
    /* margin: 50px; */
    font-size: xx-small;
    padding: 10px;
    width: 100px;
    background-color: var(--primary-color-b);
    color: var(--sec-color);
}

#container-detail {
    display: flex;
    padding: 50px;
    justify-content: stretch;
    color: var(--sec-color);
}

img {
    max-width: 30vw;
}

#details {
    margin: 20px 0px 20px 30px;
    padding: 10px 0px 10px 40px;
    max-width: 100%;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

#border {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--sec-color);
}